@import "tailwindcss";
/* globals.css */
/* @import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css"; */
@import "keen-slider/keen-slider.min.css";



/* Optional: tweak slick defaults to match your design */
.slick-slider {
  width: 100% !important;
}
.slick-list {
  border-radius: 1rem; /* matches rounded-2xl container */
  /* overflow: hidden; */
}

.slick-dots li button:before {
  font-size: 10px;
  color: #a1a1aa;
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  color: #6366f1; /* indigo-500-ish */
}

:root {
  --background: #171717;
  --foreground: #8b8b8b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-neue: var(--font-neue);
  --color-secondary: hsl(0, 0%, 11%);
  --color-border: hsl(0, 0%, 17%);
  --color-accent: hsl(237, 100%, 67%);
  --color-muted: hsl(0, 0%, 27%);
  --color-dark-accent: hsl(237, 50%, 22%);
  --color-tertiary: hsl(0, 0%, 12%);
  --color-muted-foreground: hsl(0, 0%, 24%);
  --color-new-tertiary: hsl(0, 0%, 13%);
  --color-new-bg: hsl(0, 0%, 15%);
  --color-elements:	hsl(0, 0%, 82%);
  --color-indicator: 	hsl(237, 100%, 77%);
  --color-secondary-foreground: hsl(0, 0%, 44%);
  --color-new-secondary: hsl(0, 0%, 9%);

  /* Animations  */
  --animate-overlay-show: overlay-show 300ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-overlay-hide: overlay-hide 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-dialog-show: dialog-show 300ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-dialog-hide: dialog-hide 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-from-top: slide-from-top 300ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-from-bottom: slide-from-bottom 300ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-from-left: slide-from-left 300ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-from-right: slide-from-right 300ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-to-top: slide-to-top 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-to-bottom: slide-to-bottom 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-to-left: slide-to-left 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-to-right: slide-to-right 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-down-and-fade: slide-down-and-fade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-left-and-fade: slide-left-and-fade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-up-and-fade: slide-up-and-fade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-right-and-fade: slide-right-and-fade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-spin-slow: spin 3s linear infinite;



  /* Keyframes */
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  @keyframes overlay-show {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes overlay-hide {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes dialog-show {
    from {
      opacity: 0;
      transform: 'translateY(8px) scale(0.97)';
    }

    to {
      opacity: 1;
      transform: 'translateY(0) scale(1)';
    }
  }

  @keyframes dialog-hide {
    from {
      opacity: 1;
      transform: 'translateY(0) scale(1)';
    }

    to {
      opacity: 1;
      transform: 'translateY(8px) scale(0.97)';
    }
  }

  @keyframes slide-down-and-fade {
    from {
      opacity: 0;
      transform: 'translateY(-2px)';
    }

    to {
      opacity: 1;
      transform: 'translateY(0)';
    }
  }

  @keyframes slide-left-and-fade {
    from {
      opacity: 0;
      transform: 'translateX(2px)';
    }

    to {
      opacity: 1;
      transform: 'translateX(0)';
    }
  }

  @keyframes slide-up-and-fade {
    from {
      opacity: 0;
      transform: 'translateY(2px)';
    }

    to {
      opacity: 1;
      transform: 'translateY(0)';
    }
  }

  @keyframes slide-right-and-fade {
    from {
      opacity: 0;
      transform: 'translateX(-2px)';
    }

    to {
      opacity: 1;
      transform: 'translateX(0)';
    }
  }

  @keyframes slide-from-top {
    from {
      transform: 'translateY(4px) scale(0.97)';
      opacity: 0;
    }

    to {
      transform: 'translateY(0) scale(1)';
      opacity: 1;
    }
  }

  @keyframes slide-from-bottom {
    from {
      transform: 'translateY(-4px) scale(0.97)';
      opacity: 0;
    }

    to {
      transform: 'translateY(0) scale(1)';
      opacity: 1;
    }
  }

  @keyframes slide-from-left {
    from {
      transform: 'translateX(4px) scale(0.97)';
      opacity: 0;
    }

    to {
      transform: 'translateX(0) scale(1)';
      opacity: 1;
    }
  }

  @keyframes slide-from-right {
    from {
      transform: 'translateX(-4px) scale(0.97)';
      opacity: 0;
    }

    to {
      transform: 'translateX(0) scale(1)';
      opacity: 1;
    }
  }

  @keyframes slide-to-right {
    from {
      transform: 'translateX(0) scale(1)';
      opacity: 1;
    }

    to {
      transform: 'translateX(-4px) scale(0.97)';
      opacity: 0;
    }
  }

  @keyframes slide-to-top {
    from {
      transform: 'translateY(0) scale(1)';
      opacity: 1;
    }

    to {
      transform: 'translateY(4px) scale(0.97)';
      opacity: 0;
    }
  }

  @keyframes slide-to-bottom {
    from {
      transform: 'translateY(0) scale(1)';
      opacity: 1;
    }

    to {
      transform: 'translateY(-4px) scale(0.97)';
      opacity: 0;
    }
  }

  @keyframes slide-to-left {
    from {
      transform: 'translateX(0) scale(1)';
      opacity: 1;
    }

    to {
      transform: 'translateX(4px) scale(0.97)';
      opacity: 0;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-neue), Helvetica, sans-serif;
}

.slick-slide {
  padding: 0 10px;
  /* width: 100px !important; */
}

.slick-list {
  margin: 0 -10px;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

/* .slick-track{
  width: 100px !important;
} */